@import "tailwindcss";

:root {
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Vazirmatn", system-ui, sans-serif;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
  user-select: none;
}
